atomicwrites==1.3.0
attrs==19.1.0
biopython==1.74
cathpy==0.3.1
certifi==2019.6.16
chardet==3.0.4
codecov==2.0.15
colorlog==4.0.2
DendroPy==4.4.0
idna==2.8
importlib-metadata==0.19
jsonpickle==1.2
more-itertools==7.2.0
numpy==1.17.0
packaging==19.1
pluggy==0.12.0
py==1.8.0
pyaml==19.4.1
pyparsing==2.4.2
pyswagger==0.8.39
pytest==5.1.0
pytest-cov==2.5.1
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
tqdm==4.34.0
urllib3==1.25.3
validate-email==1.3
wcwidth==0.1.7
xdg==4.0.1
zipp==0.5.2
